Code/**
GIMP/**
libaccounts-glib/**
discord/**
user-dirs.dirs
user-dirs.locale
VirtualBox/**
k*
QtProject.conf
pulse/**
go/**
GitHub Desktop/**
donf/**
freerdp/**
xsettingsd/**
baloo**
bl**
dconf**
evolution/**
KDE/UserFeedback.conf
